<DTooltip @arrow={{false}} @identefier="badge-button-tooltip">
  <:trigger>
    <a class="user-card-badge-link" href={{this.badgeUrl}}>
      <BadgeButton @badge={{@badge}}>
        {{#if this.showGrantCount}}
          <span class="count">&nbsp;(&times;{{@count}})</span>
        {{/if}}
      </BadgeButton>
    </a>
  </:trigger>
  <:content>
    {{@badge.name}}
  </:content>
</DTooltip>